doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title ShopShare
    //- link(rel="stylesheet", href="//code.ionicframework.com/1.0.0-beta.14/css/ionic.css")
    link(rel='stylesheet', href='scss/ionic.app.css')
    link(rel='stylesheet', href='lib/ionic-filter-bar/dist/ionic.filter.bar.css')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='js/app.js')
    script(src='lib/ngCordova/dist/ng-cordova.js')
    script(src='cordova.js')
    script(src='lib/angular-environment/dist/angular-environment.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
    script(src='lib/ionic-filter-bar/dist/ionic.filter.bar.js')
    script(src='lib/satellizer/satellizer.min.js')

  body(ng-cloak ng-app='app', ng-controller='AppController')
    ion-nav-bar.bar-default
      ion-nav-buttons(side='left')
        i.button.icon.ion-ios-gear-outline(ng-click='logout()')
      ion-nav-buttons(side='right')
        i.button.icon.ion-aperture
        i.button.icon.ion-ios-search(ng-click='showFilterBar()')
    .bar.bar-subheader(ng-if='showBar')
      ul
        li: a(ng-repeat='item in menu track by $index',
          ng-class='{ active: $index == selected }',
          ng-click='select($index, item)') {{::item}}
    ion-nav-view
