.item-cell
  .item-cell-image
    img(ng-src='{{item.image}}')
  .item-cell-info
    item-info(amount='1230', icon='ion-ios-heart')
    item-info(amount='24400', icon='ion-chatbubble-working')
    item-info(amount='4630', icon='ion-tshirt')
