.login-content-view
  background url('/assets/images/background-login.jpg')
  background-size cover

.login-title-content
  position absolute
  top 220px
  right 35px

.login-subtitle
  font-family $font-family-serif
  font-style italic
  text-align right
  margin 0
  color $gray
  font-size 15px

.login-title
  font-family $font-family-base
  text-align right
  margin 0
  color $gray
  font-size 40px

.login-form-content
  position absolute
  background $white
  height 350px
  width 300px
  top 285px
  left 0
  right 0
  margin 0 auto

.login-separator
  display table
  margin 0 auto

.login-line
  display table
  width 275px
  text-align center
  border-bottom 1px solid $aluminium
  line-height .1em
  margin 10px 0 10px

.login-or
  font-family $font-family-serif
  color $aluminium
  background $white
  padding 0 10px
  font-size 12px

.login-form-control
  display table
  padding-left 10px !important
  font-family 'Helvetica Neue'
  width 275px
  padding 5px
  margin 0 auto
  font-size 12px
  border 1px solid $aluminium !important
  border-radius 0
  -webkit-appearance none
  &::-webkit-input-placeholder
    font-size 12px

.login-username
  margin-top 15px

.login-email
  border-top none !important

.login-password
  border-top none !important

.login-button
  display table
  font-family $font-family-accent
  text-align center
  font-size 12px
  width 275px
  padding 10px
  margin 10px auto
  text-transform uppercase

.login-btn
  background $pink
  color $white

.facebook-btn
  background #425FA1
  color $white

.twitter-btn
  background #55ACEF
  color $white

.default-btn
  background $white
  color $aluminium
  border 1px solid $aluminium
