// FONTS
$font-family-base = 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$font-family-serif = 'Baskerville', 'HoeflerText', 'TimesNewRomanPS', serif
$font-family-accent = 'BrandonGrotesqueBold', 'Helvetica-Bold', 'Arial-Bold', sans-serif

// COLORS
$gray = #444;
$slate = #a6a6ac
$aluminium = #c4c6c8
$off-white = #f0f1f2
$white = #fff
$error-red = #ff3f3f
$pink = #ec1068
