.item-message
  font-family $font-family-base
  color $gray
  font-size 12px
  margin 0 15px
  line-height 120%
  text-align justify

.item-message-user
  font-weight bold
  color $pink
  margin-right 5px
