ion-view(view-title='shopshare')
  ion-content.scroll.has-subheader
    ion-refresher(pulling-text='Pull to refresh...', on-refresh='doRefresh()')
    item-cell(ng-repeat='item in items', item='item')
